.main {
    position: absolute;
    width: 70%;
    background: orange;
    min-height: inherit;
}
.side {
    position: absolute;
    right: 0;
    width: 30%;
    background: green;
    min-height: inherit;
}