#wrapper {
    height: 60vh;
    width: 74vw;
    margin: 10vw;
    overflow: auto;
    background: #EEE;
    border: solid 3vw #EEE;
}
.galdiv {
    #height: 600px;
    height: 50vh;
    #margin-left: 50%;
    width: fit-content;
    margin-bottom: 5%;
}
.galpicture {
    #margin-left: -50%;
    max-height: 50vh;
    max-width: 74vw;
}
.hoverpic {
    position: relative;
    display: none;
    color: red;
    font-weight: bold;
    margin-left: 50%;
    margin-top: -25vh;
}

