.outer-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
}
.content-wrapper {
    width: 650px;
    max-width: 94vw;
    height: 750px;
    max-height: 80vh;
    overflow: auto;
}
.content-layer {
    overflow: hidden;
}
.galdiv {
    width: 650px;
    max-width: 94vw;
    height: fit-content;
    max-height: 80vh;
    margin-bottom: 3vw;
    text-align: center;
}
.galpicture {
    max-width: 100%;
    max-height: 500px;
}
.clickcont {
    position: absolute;
    top: 17vh;
    left: 5vw;
    max-width: 90vw;
    max-height: 50vh;
    min-width: 90vw;
    min-height: 50vh;
    opacity: 1.0;
}
.clickpicturebackground {
    position: relative;
    height: 50vh;
    width: 40vw;
}
.clickpicture {
    position: absolute;
    max-width: 40vw;
    max-height: 50vh;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.commentbackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.commentcont textarea {
    margin-top: 10px;
    resize: none;
    width: 48vw;
    margin-bottom: 10px;
    position: relative;
}
.commentcont input {
    display: none;
}
.commentdivoverflow {
    height: 100%;
    overflow: auto;
    position: absolute;
    margin-left: 41vw;
    top: 0;
}
.likes {
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 26px;
    line-height: 26px;
    padding-bottom: 4px;
    padding-top: 8px;
    margin-bottom: -1px;
}