.navbar {
    display: flex;
    width: 100vw;
    overflow: auto;
    height: 46px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar .filler {
    flex-grow: 1;
    text-align: center;
}
.navbar .login {
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex-shrink: 0;
}
.show {
    display: block;
}