.container .navbar {
    justify-content: space-between;
    width: 650px;
    max-width: 94vw;
}
.container .change {
    width:fit-content;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}